/* start GLOBAL STYLES */
html {
    font-size: 24px;
}
/* end GLOBAL STYLES */

/*start LAYOUT STYLES*/
body {
    display: grid;
    margin: 0;
}

body header,
body footer,
main > * {
    padding: 0.5rem 1rem;
}

#mainNav {
    background-color: lightgray;
    font-size: 0.875rem;
}

#mainNav nav {
    display: flex;
    justify-content: space-between;
}

#mainNav nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

#mainNav nav ul li {
    display: inline-block;
}
/*end LAYOUT STYLES*/

/*start INDEX STYLES*/
#aboutSection,
#projectSection,
#contactSection {
    padding-bottom: 1rem;

}

#aboutSection {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#projectSection {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#projectSection .introText {
    /* flex-grow: 100%; */
}

#projectList {
    width: 100%;
    max-width: 1000px;
}

#contactSection {
    background-color: lightcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainFooter {
    background-color: lightgrey;
    font-size: 0.875rem;
    text-align: center;
}

#josteezoPhoto {
    background-color: red;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

#projectList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;    
}

.projectCard {
    background-color: blue;
    color: white;
    display: inline-block;
    flex-basis: 10rem;
    padding: 1rem;
}
/*end INDEX STYLES*/

/*start CONTACT STYLES*/
form {
    max-width: 480px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.formGroup label {
    margin-bottom: .125rem;
}
/*end CONTACT STYLES*/